<!doctype html>
<html lang="{{ locale() }}">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <title>{{ env('PROJECT_NAME') }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="csrf-token" content="{{ csrfToken() }}">

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <style>
        /*--------------------------------------------------------------
        Reset
        --------------------------------------------------------------*/
        html, body{font-size:100%;height:100%;background:#fafafa}
        body,html,div,h1{margin:0;padding:0}
        h1, span{font: 700 13px 'Comfortaa';color:#333}
        div{box-sizing:border-box}

        /*--------------------------------------------------------------
        Report
        --------------------------------------------------------------*/
        .global-container{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction: column;
        }

        span.material-icons-outlined {
            font-size: 50px;
        }

        h1{
            font-size: 35px;
            margin-top: 15px;
            border-bottom: 1px solid #e5e5e5;
            padding: 0 30px 10px;
            margin-bottom: 10px;
        }

        img{
            max-width: 180px;
        }
    </style>
</head>
<body class="overflow-hidden">
    {% block main_content %}{% endblock %}
</body>
</html>
