{% extends 'base.html.twig' %}
{% block title %} Hello world {% endblock %}

{% block main_content %}
    <div class="global-container">
        <span class="material-icons-outlined">waving_hand</span>
        <h1>Hello world</h1>

        <img src="https://i.imgur.com/PwAmfWm.png" alt="Simpler">
    </div>
{% endblock %}
